<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :player_id %>
    <%= form.number_field :player_id %>
  </div>

  <div class="field">
    <%= form.label :opponent_id %>
    <%= form.number_field :opponent_id %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :winner %>
    <%= form.number_field :winner %>
  </div>

  <div class="field">
    <%= form.label :current_player %>
    <%= form.number_field :current_player %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
