<head>
<meta http-equiv="refresh" content="10">

</head>
<p>
Your Piece Pile: <%= @player_piece_pile %>
<br>
Pieces You've Captured: <%= @player_captures %>
<br>
Opponents Piece Pile: <%= @other_player_pile %> 
<br>
Pieces Your Opponent Has Captured: <%= @other_player_captures %>
</p>
<p>


</p>
<p>
7
<%= @board_position_7A %>
---------------------------
<%= @board_position_7D %>
---------------------------
<%= @board_position_7G %>
<%# end of the first row %>
<br>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
|&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&#x2009
|
<br>
<%# end of the second row %>
6
|&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= @board_position_6B %>
------------------
<%= @board_position_6D %>
-----------------
<%= @board_position_6F %>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|
<%# end of the third row %>
<br>
&nbsp&nbsp&nbsp|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&#x2009
|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp|
<br>
<%# end of the fourth row %>
5
|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
<%= @board_position_5C %>
--------
<%= @board_position_5D %>
--------
<%= @board_position_5E %>
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp|
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|
<%# end of the fifth row %>
<br>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&#x2009|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp
|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
&nbsp&#x2009
&nbsp&nbsp&nbsp&nbsp&nbsp
|
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|
<br>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&#x2009|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp
|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
&nbsp&#x2009
&nbsp&nbsp&nbsp&nbsp&nbsp
|
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|
<br>
<%# end of the sixth row %>
4
<%= @board_position_4A %>
-----
<%= @board_position_4B %>
------
<%= @board_position_4C %>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
<%= @board_position_4E %>
-----
<%= @board_position_4F %>
-----
<%= @board_position_4G %>
<br>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&#x2009|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp
|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
&nbsp&#x2009
&nbsp&nbsp&nbsp&nbsp&nbsp
|
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|
<br>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&#x2009|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp
|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
&nbsp&#x2009
&nbsp&nbsp&nbsp&nbsp&nbsp
|
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|
<br>
<%# end of the fourth row %>
3
|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
<%= @board_position_3C %>
--------
<%= @board_position_3D %>
--------
<%= @board_position_3E %>
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp|
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|
<%# end of the fifth row %>
<br>
&nbsp&nbsp&nbsp|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&#x2009
|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp|
&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp|
<br>
<%# end of the second row %>
2
|&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= @board_position_2B %>
------------------
<%= @board_position_2D %>
-----------------
<%= @board_position_2F %>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|
<%# end of the third row %>
<br>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
|&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&#x2009
|
<br>
1
<%= @board_position_1A %>
---------------------------
<%= @board_position_1D %>
---------------------------
<%= @board_position_1G %>
<%# end of the last row %>
<br>
&nbsp&nbsp&nbspA&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspB&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspC&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspD&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspE&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspF&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspG
<p>
<p>
To get an item from your pile enter "pile" as the current position
</p>
<%if @is_turn %>
  <%= form_with(local: true, url: @redirect_url_to_execute_move, method: :post) do |form|%>
    <div class="field">
      <%= form.label :current_Position %>
      <%= form.text_field :current_position %>
    </div>
    <div class="field">
      <%= form.label :desired_position %>
      <%= form.text_field :desired_position %>
    </div>
    <%= submit_tag "Execute Move" %>
  <%end%>
<%else%>
    <p>
    It is <strong>NOT</strong> your turn yet
    </p>
<%end%>
